.topbar-topbar {
  width: 2006px;
  height: 142px;
  display: flex;
  position: relative;
  background-size: cover;
  background-image: url("/external/rectangle2228-qasp-200h.png");
  background-position: center;
}
.topbar-navlink {
  display: contents;
}
.topbar-sale-optimaiconremovebgpreview1 {
  top: 21px;
  left: 58px;
  width: 100px;
  height: 100px;
  position: absolute;
  text-decoration: none;
}
.topbar-navlink1 {
  display: contents;
}
.topbar-online-support {
  top: 33px;
  left: 1832px;
  width: 92px;
  height: 77px;
  position: absolute;
  text-decoration: none;
}
.topbar-sales-optima-text {
  top: 21px;
  left: 186px;
  width: 552px;
  height: auto;
  position: absolute;
  font-size: 75px;
  font-style: Bold;
  text-align: left;
  font-family: "Inter";
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.topbar-text {
  color: #ffffff;
}
.topbar-text1 {
  color: #ffde59;
}
.topbar-help-center-text {
  top: 110px;
  left: 1844px;
  color: rgb(255, 255, 255);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: "Inter";
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.topbar-root-class-name {
  top: 0px;
  left: 0px;
  position: absolute;
}
.topbar-root-class-name1 {
  top: 0px;
  left: 0px;
  position: absolute;
}
.topbar-root-class-name2 {
  top: 0px;
  left: 0px;
  position: absolute;
}
.topbar-root-class-name3 {
  top: 0px;
  left: 0px;
  position: absolute;
}
.topbar-root-class-name4 {
  top: 0px;
  left: 0px;
  position: absolute;
}
.topbar-root-class-name5 {
  top: 0px;
  left: 0px;
  position: absolute;
}
.topbar-root-class-name6 {
  top: 0px;
  left: 0px;
  position: absolute;
}
.topbar-root-class-name7 {
  top: 0px;
  left: 0px;
  position: absolute;
}
.topbar-root-class-name8 {
  top: 0px;
  left: 0px;
  position: absolute;
}
